{{ attach_library('random_urls/random-urls') }}

<div class="container body-content">
        <p> Generate a random short link like sho.rt/adt57 from a url from any of the following domains. This also includes subdomains from the ones listed below. </p>
        <ul>
            {% for i in domains %}
            <li> {{i}} </li>
            {% endfor %}
        </ul>
        {{form}}
</div>