{{ attach_library('random_urls/random-urls') }}

<div class="container body-content">
        <p> Getting a random short URL doesn't require any approval. The only restriction is that the URL must be from the colorado.edu domain. </p>
        <div class='input-container'>
            <input id='new-url' type='text' placeholder='Shorten my URL' name='url'/>
            <button id='shorten-button' type='submit'> Shorten! </button>
        </div>
        <div id='message-container'>
            <p>  </p>
        </div>
        <h2> See all of the short URLs </h2>
        <p> Here are the current short URLs that have been created. You may search for a short URL and use one that already exists. </p>
        <div id="short-urls-list">
            <!-- render table here -->
            <div id='search-container'>
                <button id='prev-button' value=0> &#x227A; Prev </button>
                <button id='next-button' value=0> Next &#x227B; </button>
                <input type='text' placeholder='Search for a keyword' id='search-keyword' />
                <button id='search-button'> Search </button>
            </div>
        </div>
</div>