{{ attach_library('random_urls/random-urls') }}

<div class="container body-content">
        <p> Getting a random short URL doesn't require any approval. The only restriction is that the URL must be from the colorado.edu domain. </p>
        <div class='input-container'>
            <input type="text" class="form-control" id="new-url" placeholder="Shorten my URL">
            <button id='shorten-button' type='button' class='btn btn-primary'> Shorten! </button>
        </div>
        <div id='message-container' role="alert">
            <!-- Mesage shows up here -->
        </div>
</div>