{{ attach_library('random_urls/short-url-results') }}
<div class="container" >
<h2> View all the Short URLs </h2>
<p> Here are the short URLs that have been created. You may search for a keyword or for a long URL to see if it's already been shortened. </p>
<div id="short-urls-list">
<div id='search-container'>
    <div class="btn-group" role="group" aria-label="Short link pager">
        <button id="prev-button" value=0 type="button" class="btn btn-primary" disabled > &#x227A; Prev </button>
        <button id="next-button" value=0 type="button" class="btn btn-primary"> Next &#x227B; </button>
    </div>
    <input type='text' class="form-control" placeholder='Search for a keyword or URL' id='search-keyword' />
    <button id='search-button' type="button" class="btn btn-primary"> Search </button>
</div>
<div>
{# Render Empty table. The JS will fill in the results #}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Original URL</th>
            <th scope="col">Clicks</th>
            </tr>
        </thead>
    <tbody id="url-results">
      <tr> <td></td><td> Fetching Short Links... </td> <td></td> </tr>
    </tbody>
    </table>
</div>
<div>
