/* styles to make the view look nicer */
#edit-actions{
    margin-bottom: 1em;
}

table{
    border: none;
}

thead{
    color: white;
    background-color: #006db1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid grey;
}

.dropbutton-widget{
    border: 1px solid grey;
    background-color: white;
    border-radius: 4px;
}

ul.dropbutton{
    padding: 6px !important;
}

.quickedit-field{
    max-width: 1140px;
    margin: auto;
}

#block-ucb2019-base-content{
    max-width: 90%;
    margin: auto;
    margin-bottom: 2em;
}
#edit-field-ucb-short-url-value{
    display: inline;
}

.url-app-details{
    color: #006db1;
    padding: 0px;
    margin: 0px;
}
.url-app-details:hover{
    text-decoration: underline;
    cursor: pointer;
}