/* styles to make the view look nicer */
table{
    border: 1px solid grey;
}

thead{
    color: white;
    background-color: #006db1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 15px;
    text-align: left;
}

.dropbutton-widget{
    border: 1px solid grey;
    background-color: white;
    border-radius: 4px;
}

ul.dropbutton{
    padding: 6px !important;
}

.quickedit-field{
    max-width: 1140px;
    margin: auto;
}

#block-ucb2019-base-content{
    max-width: 90%;
    margin: auto;
    margin-bottom: 2em;
}