{{ attach_library('custom_urls/custom-urls') }}
<div class="container body-content">
    <p> To get a custom short URL, you must request one for approval. If you would like a random short URL (ex. sho.rt/14), 
        go to <a href="/random-urls"> Random URLs </a>. Once you submit the form, it will be reviewed and an email will sent
        with the status of your application. If you have any questions, please email test@example.com. 
    </p>
        All short URLs must be unique. Please check if the keyword already exists by searching for it on the 
        <a href='/random-urls'> Random URLs </a> page. Enter the word into the search box and if there is a result,
        you will have to request a different word.
    <p>
    </p>
    <p> When choosing a short URL, there are some guidelines it should follow:
        <ul>
            <li> Keep it one word </li>
            <li> Easy to remember </li>
            <li> Should describe the destination </li>
            <li> Not too vague </li>
        </ul>
    </p>
    <div id="custom-form">
        <h3> Apply for a Custom Short URL </h3>

        <form id="custom-url-form">
            <div class="form-group">
                <label for="input-1">Long URL</label>
                <input type="text" name="url" class="form-control" id="input-1" placeholder="Long URL">
            </div>
            <div class="form-group">
                <label for="input-2">Short URL</label>
                <input type="text" name="custom" class="form-control" id="input-2" placeholder="Short URL">
            </div>
            <div class="form-group">
                <label for="input-3">Username</label>
                <input disabled type="text" class="form-control" name="identikey" id="input-3" value={{username}}>
            </div>
            <div class="form-group">
                <label for="input-4">Site Title</label>
                <input type="text" class="form-control" name="title" id="input-4" placeholder="Site Name">
            </div>
            <div class="form-group">
                <label for="url-desc"> Reason For Applying </label>
                <textarea class="form-control" name='desc' id="url-desc" rows="4" placeholder="In the case where multiple people ask for the same short URL, we will consider the reason for applying." ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div id="message" class="hidden" role="alert">
        </div>
    </div>
</div>